<h1>Edit Share</h1>

<label><%= last_updated @share %></label><br>

<%= render partial: 'form' %>

<br>
---
<br>
<br>

<%= link_to "Add New Drink", new_share_path %>  |  
<%= link_to "Add New Bar", new_location_path %>  |  
<%= link_to "View Drinks", shares_path %>  |  
<%= link_to "View Bars", locations_path %>
<br>
<br>
<br>
<br>
<br>
<%= (link_to 'Logout', logout_path) %>