<%= form_for (@location) do |f| %>

 <div class="field">
 
 <%= f.label :name %>
 <%= f.text_field :name, class: 'form-control' %>

 <%= f.label :zip %>
 <%= f.text_field :zip, class: 'form-control' %>

  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
  
  <% end %>

  <div id = "locationResult">
  <h2 id="locationName"></h2>
  <br>
</div>