
<h1 class="locationName"><%= @location.name %> (<%= @location.zip %>)</h1>

    <h3>Shares:</h3>

    <h2><%= link_to "View Drink Reports", "#", {data: {location_id: @location.id}, id: "share_link"} %></h2>

    <div id="target-id"></div>

    <br>
---
<br>
<br>

<%= link_to "Add New Drink", new_share_path %>  |  
<%= link_to "Add New Bar", new_location_path %>  |  
<%= link_to "View Drinks", shares_path %>  |  
<%= link_to "View Bars", locations_path %>
<br>
<br>
<br>
<br>
<br>
<%= (link_to 'Logout', logout_path) %>