<h1>Bar Detail</h1>

    Bar Name: <%= @location.name %> <br>
   
    <h3>Shares:</h3>
  
    <div id="submitted-shares">
      <% @location.shares.each do |share| %>
        <br>
        <div class="card" id="share-<%= share.id %>">
          <div class="card-body">
            <% if share.user != nil %>
              <h6 class="card-subtitle mb-2 text-muted">Posted by:  <%= link_to share.user.username, share.user %></h6>
            <% else %>
              <h6 class="text-muted">By: anonymous</h6>
            <% end %>
  
            <p class="card-text"><%= share.drink.name %></p>
            <p class="card-text"><%= share.price %></p>

          </div>
        </div>
      <%end%>
    </div>